/* *
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
/* @import url('./vite-promo.css');
@import url('./header.css'); */

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ----------- GENERAL ----------- */

* {
  box-sizing: border-box;
}

.to-home-link {
  display: inline-block;
  border: 2px dotted #fff;
  padding: 5px;
  text-shadow: 1px 1px 2px white;
  transition: transform 0.3s ease;
  margin-bottom: 10px;
}

.to-home-link:hover {
  transform: scale(1.04);
  text-shadow: 2px 2px 3px white;
  transition-duration: 100ms;
}

body {
  background-color: rgb(173, 160, 219);
  border-radius: 10px;
  height: 100vh;
  margin: 15px;
  padding: 10px;
}

/* ----------- HOME PAGE ----------- */

.home-list {
  text-align: center;
  line-height: 2;
  padding-top: 50px;
  font-size: 50px;
}

.home-list-link {
  text-shadow: 2px 2px 4px white;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 2px;
}

.home-list-item:hover {
  transform: scale(1.04);
}

.home-list-link:hover {
  text-shadow: 4px 4px 4px white;
  transition-duration: 100ms;
}

/* ----------- TIMER ----------- */

.timer-container {
  width: 430px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
}

.flatpickr-input {
  width: 250px;
  margin-bottom: 30px;
  border: 1px solid #808080;
  border-radius: 4px;
  text-align: center;
  padding: 10px 5px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.start-btn {
  width: 80px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(173, 160, 219);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: background-color 300ms linear;
}

.start-btn:hover,
.start-btn:active {
  background-color: rgb(143, 132, 181);
  border: 1px solid #000000;
}

.start-btn:disabled {
  background-color: rgb(124, 122, 131);
  border: 1px solid #000000;
}

.timer {
  display: flex;
  gap: 25px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.value {
  font-size: 40px;
  line-height: 1;
}

.label {
  text-transform: uppercase;
  font-size: 20px;
  color: #000000;
}

/* ----------- SNACKBAR ----------- */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.delay-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.delay-label input {
  width: 220px;
  height: 30px;
  border: 1px solid #808080;
  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.delay-label input:hover,
.delay-label input:focus {
  border-color: #000;
  outline: none;
}

fieldset {
  width: 220px;
  margin-bottom: 15px;
}

.form button {
  width: 220px;
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 8px 16px;
  background: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: background-color 300ms linear;
}

.form button:hover,
.form button:active {
  background-color: rgb(143, 132, 181);
  border: 1px solid #000000;
}
